*{
    text-align: center;
}

h1{
    font-family: monospace;
    color: red;
}

h2{
    font-family: 'Courier New', Courier, monospace;
    color: blueviolet;
}

h3{
    font-family: 'cursive';
    color: yellowgreen;
}

@media(max-width: 700px){
    img{
        max-width: 50%;
        max-height: 50%;
    }
}
